.jumbotron {
    background-color: purple;
    color: white;
    /* background-image: url("../img/raisedhands.jpg"); */
    background-size: cover;
    /* opacity: .8; */
}

#socialIcons {
    text-align: right;
}

.navbar-nav {
    left: 50%;
    transform: translateX(-40%);
}

.nav-item {
    padding: 20px;
    color:white;
}

/* .fa {
    background-color: gray; 
   
}*/

h1, h2, h3, p {
    text-align:center;
}

.card-footer {
    text-align: center;
}


