.jumbotron {
    background-color: #9c1f4d;
    color: white;
    /* background-image: url("../img/raisedhands.jpg"); */
    background-size: cover;
    /* opacity: .8; */
}

#socialIcons {
    text-align: right;
}

.navbar-nav {
    left: 40%;
    transform: translateX(-40%);
}

.nav-item {
    padding: 20px;
    color:white;
}

/* .fa {
    background-color: gray; 
   
}*/

h1, h2, h3, p {
    text-align:center;
}

.card {
    background-color: #9c1f4d;
    color: white;
}
.card-footer {
    text-align: center;
    background-color: lightgray;
    color: black;
}

#footerIcons {
    text-align: center;
}

.site-footer{
    background-color: #9c1f4d;
    color: white;
}

a {
    color: white;
}

